test-results
node_modules
legacy

# AI Stuff
AGENTS.md
.opencode
opencode.json

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# sensitive data
/cv/
src/lib/types/running.ts
